{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    // "sourceType": "module",
    "ecmaVersion": 12,
    "ecmaFeatures": {
      "arrowFunctions": true
    }
  },  "plugins": [
    "security",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}